*       @Thanhphan1147 @amandahla  @DeeKay3 @srbouffard @nrobinaubertin
docs/*	@erinecon
docs/changelog.md @Thanhphan1147 @amandahla  @DeeKay3 @srbouffard @nrobinaubertin
requirements.txt	@canonical/platform-engineering
.trivyignore	@canonical/platform-engineering
